
body {
  /* background-color: #001B2E;*/
  background-color: #22181c;
  /*background-color: #462935;*/
}

  
/*/////////////////////////////////////////MAinStuff//////////////////////////////////////////////////////*/

.MainCollem{
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.BacklitTitle{
  color: rgb(0, 0, 0);
  background-color: #D74E09;
  border-width: 6px;
  border-color: #22181C;
  border-style:solid; /* <-- Add this line */
  padding: 0%;
  margin: 0 auto;
}
.BacklitTitleGrad{
  color: rgb(0, 0, 0);
  background-color: #D74E09;
  border-width: 6px;
  border-color: #22181C;
  border-style:solid; /* <-- Add this line */
  padding: 0%;
  margin: 0 auto;
  background-image: linear-gradient(185deg, rgba(0, 0, 0, 0.2), rgba(222, 222, 222, 0.11), rgba(0, 0, 0, 0.1));
}
.TitleTextShadow{
  font-family: Rockwell Extra Bold;
  font-size: 600%;
  text-align: center;
  margin: 0%;
  text-shadow: 2px 3px 4px #2222225c;
}
.TitleSubText{
  font-family: Rockwell Bold;
  font-size: 250%;
  text-align: center;
  margin: 0%;
  text-shadow: 2px 3px 4px #2222225c;
  
}

.NavBarBox {
  background-color: #22181C;
  border-width: 6px;
  border-color:#22181C;
  border-style: solid; /* <-- Add this line */
  padding: 0%;
  margin: 0 auto;
}

.TitleSubSubText {
  font-family: Blippo;
  font-size: 180%;
  text-align: center;
  margin: 0%;
  text-shadow: 1px 1px 2px #2222225c;
}
  
/*/////////////////////////////////////////Buttons//////////////////////////////////////////////////////*/

.LinkButtonOrange {
  background-color: #D74E09;
  color: black;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 6px;
  border-color: #D74E09;
  border-style: solid;
  transition-duration: 0.6s;
  border-radius: 15px;
  margin: 0;
}
.LinkButtonOrange:hover {
  background-color: #bb5221;
  padding: 10px 29px;
  font-size: 20px;
  color: white;
  border-color: #dad3ae;
  cursor: pointer;
}
.LinkButtonOrange:active {
  padding: 9px 29px;
  font-size: 20px;
  background-color: #ec723a;
  color: black;
  border-color: #d3da7c;
}

.BarButton {
  background-color: #F2D492;
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 6px;
  border-color: #D74E09;
  border-style: solid;
  transition-duration: 0.6s;
  border-radius: 15px;
  margin: 5px;
}
.BarButton:hover {
  background-color: #bb5221;
  padding: 10px 29px;
  font-size: 20px;
  color: white;
  border-color: #dad3ae;
  cursor: pointer;
}
.BarButton:active {
  padding: 9px 29px;
  font-size: 20px;
  background-color: #ec723a;
  color: black;
  border-color: #d3da7c;
}

/*/////////////////////////////////////////Borders//////////////////////////////////////////////////////*/
.BigBoxBorder {
  color: rgba(0, 0, 0, 0);
  background-color: #001B2E;
  border-width: 20px;
  border-color:#e55812;
  border-style: ridge; /* <-- Add this line */
  padding: 0%;
  margin: 0 ; 
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.ThinBorderO {
  color: rgb(0, 0, 0);
  border-width: 12px;
  border-color: #FF7F11;
  border-style: ridge; /* <-- Add this line */
  box-sizing: border-box;
  overflow: hidden;
}

.SubBorder {
  color: rgb(0, 0, 0);
  border-width: 8px;
  border-color: #b46016;
  border-style:solid; /* <-- Add this line */
  box-sizing: border-box;
  overflow: hidden;
}

/*////////////////////////////////////////////Margins And Padding///////////////////////////////////////////////////*/

.PageSpaced{
  padding: 0%;
  margin: 0 ; 
  margin-bottom: 30px;
}

.NoMargin{
  padding: 0%;
  margin: 0 ; 
}

.BlogTitlePading{
  padding: 8px;
}

.ContentBoxPadding{
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.ContentBoxPaddingLess{
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.BlogBody{
  margin: none;
  padding: 10px;
}

.EndCapTextPadding{
  padding: 5px;
  padding-right: 70px;
  padding-left: 70px;
}

.UTitlePadding{
  padding: 10px;
  padding-top: 0;
}



/*////////////////////////////////////////////Alainments///////////////////////////////////////////////////*/
.AlignCenter{
  text-align: center;
}
.AlignLeft{
  text-align: center;
}

.AlignRight{
  text-align: center;
}

.FloatLeft{
  float: left;
}
.FloatRight{
  float:right;
}

.Floatcenter{
  float: center;
}

/*////////////////////////////////////////////TEXTSTYKES///////////////////////////////////////////////////*/

.FancyTitleText {
  font-family: Goudy Old Style;
  font-size: 40px;
  text-align: center;
  margin: 2px;
  text-shadow: 2px 3px 4px #2222225c;
}
.ContentText {
  font-family: David;
  font-size: 19px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.MeduimText {
  font-family: David;
  font-size: 24px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}
.SmallContentTitleText {
  font-family: Trebuchet;
  font-size: 40px;
  text-align: center;
  margin: 16px;
  margin-bottom: 5px;
}

.SubContentTitle {
  font-family: Rockwell;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}
.SubContentLable {
  font-family: Rockwell;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}
.SectionTitle {
  font-family: Rockwell;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 3px #2222225c;
}
.SmallSectionTitle {
  font-family: Rockwell;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 3px #2222225c;
}
.BlogTitle {
  font-family: Rockwell;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 3px 4px #2222225c;
}

.BlogSubTitleSmall {
  font-family: Rockwell;
  font-size: 35px;
  text-align: center;
  margin: 2px;
  text-shadow: 2px 3px 4px #2222225c;
}
.BlogSubTitleBig {
  font-family: Rockwell;
  font-size: 40px;
  text-align: center;
  margin: 2px;
  text-shadow: 2px 3px 4px #2222225c;
}
.BlogText {
  font-family: David;
  font-size: 23px;
  text-align: left;
  margin: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}
.BlogHeader {
  font-family: David;
  font-size: 28px;
  text-align: center;
  margin: 10px;
}

/*////////////////////////////////////////////FILLing///////////////////////////////////////////*/

.BGLightO {
  background-color: #e08f32;
}
.BGLighter {
  background-color: #ebb06d;
}
.BGParagraphLightTan{
  background-color: #F1E8B8;
}

.BGBigO {
  background-color: #D74E09;
}
.BGBagie {
  background-color: #F2D492;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent 5%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent 5%),
    linear-gradient(to left, rgba(0, 0, 0, 0.15), transparent 2%),
    linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent 2%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.BGBagieNoGrad {
  background-color: #F2D492;
}
.BGTEST2 {
  background-color: #e08f32;
}
.BGTEST3 {
  background-color: #e08f32;
}
.BGDark {
  background-color: #22181C;
}

.BGLightDark{
  background-color: #38262d;
}

/*//////////////////max-width: 30%; min-width: 20px; //////////////////////////IMages///////////////////////////////////////////*/
.SideImage{
  height: 280px;
  vertical-align: middle;
}

.BlogImage{
  height: 150px;
  vertical-align: middle;
}
.BlogImageContainer{
  margin: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

/*////////////////////////////////////////////UH///////////////////////////////////////////////////*/

.FlexH{
  display: flex;
  flex-flow: row;
}
.FlexLine{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.SideImageContainer{
  flex: 0 0 30%;
  overflow: hidden;
}

.InvisibleSection{
  box-sizing: border-box;
}

.DeleteBorder{
  border: none;
}

.OnlyBorderRight{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

/*/////////////////////////////////////////Slide Show Stylings//////////////////////////////////////////////////////*/

  /* Slideshow container */
  .slideshow-container {
    max-width: 1200px;
    
    margin: auto;
    margin-bottom: 0;
    border-width: 0px;
    border-color: #4d2712;
    border-style: ridge; /* <-- Add this line */
    position: relative;
  }

  /* Slideshow container */
  .slideshow-container-v2 {
    max-width: 1200px;
    
    margin: auto;
    margin-bottom: 0;
    border-width: 0px;
    border-color: #FF7F11;
    border-style: ridge; /* <-- Add this line */
    position: relative;
  }

  .Slide {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    vertical-align: middle;
  }
  
  .Slide.fade {
    position: relative;
  }
  
  .Slide.show {
    display: block;
    opacity: 1;
  }
  /* Hide the images by default */
  .SlideDescription {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
    /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/*////////////////////////////////////////////Border MOds///////////////////////////////////////////////////*/

.BM-OnlyTop {
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.BM-OnlyRight {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.BM-OnlyBottom {
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}
.BM-OnlyLeft {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.BM-OnlyTopBottom {
  border-right-width: 0px;
  border-left-width: 0px;
}
.BM-OnlySides {
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.BM-OnlyTopRight {
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.BM-OnlyRightBottom {
  border-top-width: 0px;
  border-left-width: 0px;
}
.BM-OnlyBottomLeft {
  border-top-width: 0px;
  border-right-width: 0px;
}
.BM-OnlyLeftTop {
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.BM-UUP {
  border-top-width: 0px;
}

.BM-UBottom {
  border-bottom-width: 0px;
}

.BM-URight {
  border-right-width: 0px;
}

.BM-ULeft {
  border-left-width: 0px;
}

.BM-None {
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
}
